/* PLEASE NOTE: THESE TAILWIND IMPORTS SHOULD NEVER BE DELETED */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* DO NOT DELETE THESE TAILWIND IMPORTS, OTHERWISE THE STYLING WILL NOT RENDER AT ALL */
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap');
* {
  font-family: 'Satoshi', sans-serif;
}